.admin-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

button {
  padding: 5px 10px;
  margin: 2px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.toggle-btn {
  background-color: #f0ad4e;
  color: white;
}

.delete-btn {
  background-color: #d9534f;
  color: white;
}