html {
    scrollbar-color: #888 #eee;
    scrollbar-width: thin;
    font-size: 16px;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1250px;
    min-width: 750px;
}
body ::selection {
    background-color: black;
    color: white;
}
a {
    text-decoration: none;
    color: #000;
}
main {
    background-color: rgb(255, 255, 255);
    margin: 20px;
}
img {
    object-fit: cover;
}       

tr:hover {
    background-color: white;
}
thead tr:hover {
    background-color: #f8f8f8;
}