:root {
    --primary-color: #9f9f9f;
}
html {
    scrollbar-color: #888 #eee;
    scrollbar-width: thin;
    font-size: 16px;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1250px;
    min-width: 750px;
}
a {
    text-decoration: none;
}

/* main  */
main {
    width: "100%";
    height: 100% ;
    background-color: rgb(234, 234, 234);
    margin: 20px 0 20px 0;
}