.swiper {
    width: 100%;
    max-width: 1250px;
    position: relative;
    overflow: hidden;
}
.swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}
.swiper-slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
  z-index: 2;
  pointer-events: none;
}
/* dot  */
.swiper-pagination-bullet {
    width: 30px;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    opacity: 1;
    margin: 0 5px !important;
}
.swiper-pagination-bullet-active {
    background: #fff;
}
/* arrow  */
.swiper-button-next,
.swiper-button-prev {
    color: #333;
    font-size: 2rem;
    background: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #fff;
}
