.swiper {
    width: 100%;
    max-width: 1250px;
    position: relative;
}
.swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}
/* dot  */
.swiper-pagination-bullet {
    width: 30px;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    opacity: 1;
    margin: 0 5px !important;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

/* arrow  */
.swiper-button-next,
.swiper-button-prev {
    color: #333;
    font-size: 2rem;
    background: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #fff;
}
