.hidden {
    display: none;
}
.product-management-table .table-col th:nth-child(2) {
    text-align: left;
    padding-left: 5px;
}
.delete-selected-btn {
    background-color: red; 
    color:aliceblue;
    padding: 10px; 
    border: 1px solid; 
    border-radius: 5px; 
    font-weight: bold; 
    cursor: pointer; 
    font-size: 1rem;
}