.change-password-box{
    max-width: 550px;
    margin: 0 auto;
    margin: 60px auto;    
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
}
.change-password-box h2{
    margin-top: 5px;
}

.cp-field{
    margin-bottom: 5px;
}

.cp-input-wrapper {
    position: relative;
    width: 100%;
}

.cp-input-wrapper input {
    width: 100%;
    padding-right: 40px; 
    height: 40px;
    box-sizing: border-box;
}

.cp-input-wrapper .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6f6f6f;
}

.cp-submit{
    width: 100%;
    height: 40px;
    padding: 14px;
    background: #6f6f6f;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}