
.sale {
    display: flex;
    align-items: center;
}
.promo-text {
    display: inline-block;
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px;
}
.promo-text:hover {
    color: #ff8d8d;
}
.sale-product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

/* product  */
.product-card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
    overflow: hidden;
    padding: 5px;
    position: relative;
}
.card-img {
    width: 200px;
    height: 200px;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.1); */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.card-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
    z-index: 2;
    pointer-events: none;
}
.product-card:after {
    content: "SALE";
    position: absolute;
    top: 5px;
    right: -35px;
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    transform: rotate(45deg);
    width: 110px;
    padding: 5px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 10;
    font-size: 10px;
}
.card-img img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out; 
}
.card-img img:hover {
    transform: scale(1.1);
}
.product-info {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
.product-name {
    font-size: 1rem;
    text-align: justify;
    font-weight: bold;
    margin-left: 5px;
}
.product-price {
    display: flex;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0;
    margin: -3px 0 -3px 5px;
}
.discount-price {
    color: red;
}
.origin-price {
    margin-left: 5px;
    text-decoration: line-through;
    color: var(--primary-color)
}