.tag {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 20px;
}
.tag-group {
    display: flex;
    align-items: last baseline;
}
.tag-child {
    display: flex;
    font-weight: bold;
    font-size: 1.5rem;
    gap: 30px;
    margin-left: 10px;
    color: #e8e8e8;
}
.tag-child a {
    color: #4f4f4f;
}
/* sale  */
.sale-tag {
    display: inline-block;
    color: red;
    position: relative;
}
.sale-tag::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease-in-out;
}
.sale-tag:hover::after {
    width: 100%;
}
/* catalog  */
.catalog-tag, .tag-item{
    display: inline-block;
    color: rgb(0, 0, 0);
    position: relative;
}
.catalog-tag::after, .tag-item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    transition: width 0.3s ease-in-out;
}
.catalog-tag:hover::after, .tag-item:hover::after {
    width: 100%;
}   