.product-container:not(:first-child) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    gap: 30px;
}
.sale.product-container {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px; 
    overflow: hidden;
    scroll-behavior: smooth;
    /* padding-left: 10px; */
}
.sale.product-container .product-card {
    overflow: hidden;
}
.sale-container {
    position: relative;
    width: 100%;
}
.product-container {
    margin: 0 20px;
}
.sale-nav-btn {
    position: absolute;
    top: 30%;
    z-index: 2 ;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: rgb(246, 246, 246, 0.5);
    border-radius: 5px;
}
.sale-nav-btn:hover {
    background-color: white;
    color: #000000;
}
.fa-angle-right {
    right: 20px;
}
.fa-angle-left {
    left: 20px;
}
.sale.product-container .product-card {
    flex: 0 0 200px;
    padding: 2px;
}
.product-card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
    position: relative;
    overflow: hidden;
    padding: 2px;
}
.card-img {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
/* .card-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
    z-index: 2;
    pointer-events: none;
} */
/* sale tag  */
.product-card:after {
    content: "SALE";
    position: absolute;
    top: 5px;
    right: -35px;
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    transform: rotate(45deg);
    width: 110px;
    padding: 5px 0;
    z-index: 10;
    font-size: 10px;
}
.product-card.nodiscount:after {
    display: none;
}
.card-img img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out; 
}
.card-img img:hover {
    transform: scale(1.1);
}
.product-info {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
.product-name {
    font-size: 1rem;
    text-align: justify;
    font-weight: bold;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
}
.product-price {
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0;
    margin: -10px 0 -10px 0;
}
.discount-price {
    color: rgb(0, 0, 0);/* red */
}
.origin-price {
    margin-left: 5px;
    text-decoration: line-through;
    color: #9f9f9f;
}
.origin-price.nodis {
    margin-left: 0;
    text-decoration: none;
    color: black;
}
.product-sold {
    color:#9f9f9f;
    font-weight: lighter;
    margin-left: 8px;
    border-left: 1px solid #777777;
    padding-left: 5px;
}
.product-review-simple {
    font-size: small;
    display: flex;
    align-items: center;
}
.product-review-simple p {
    margin: 0;
}
.product-rated {
    border: 1px solid yellow;
    padding: 2px 5px;
    background-color: rgba(255, 255, 110, 0.072);
    border-radius: 3px;
    font-weight: normal;
}
.product-rated i {
    color: rgb(255, 208, 0)
}