.product-list-tag {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
}
.product-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 10px;
    gap: 10px;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-left: 20px;
}

/* bộ lọc */
#filter-tag {
    display: flex;
    align-items: last baseline;
    gap: 10px;
}
#filter-tag h2 {
    margin: 10px 0;
}
.filter {
    background-color: #e7e7e7;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.filter-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px 0; */
}
.filter .fa-chevron-down {
    margin-left: auto;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    color: black;
}
.filter-title {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    text-wrap: nowrap;
    cursor: pointer;
}
.filter-row hr {
    background-color: #918f8f;
    height: 0.8px;
    flex: 1;
    margin: 4px 5px 0 5px;
}
.filter-list ul, 
.filter-list p {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

/* danh mục sản phẩm  */
.product-category-filter {
    width: 100%;
}
.product-category-filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.product-category-filter li {
    cursor: pointer;
    color: #000000;
    font-size: 1rem;
}
.product-category-filter .filter-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.catalog-list {
    list-style: none;
    color: #000;
    /* padding-left: 20px; */
}
.catalog-list li {
    margin-left: 10px;
    font-size: 0.9rem;
}
.catalog-list-btn {
    margin-left: 5px !important;
    font-size: 0.8rem;
    color: black;
}

.price-range {
    display: flex;
    flex-direction: column;
    color: #383838;
    font-size: 1rem;
    align-items: flex-start;
}
.price-option {
    display: flex;
    align-items: center;
}

.price-option input[type="checkbox"] {
    accent-color: #9f9f9f;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.size-options {
    display: flex;
    color: #383838;
    font-size: 1rem;
    font-weight: normal;
}
.size-option:not(:first-child) {
    margin-left: 10px;
}

/* open/close content  */
.filter-row + * {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0 10px;
    transition:
        max-height 0.4s ease-in-out,
        opacity 0.4s ease-in-out,
        padding 0.3s ease-in-out;
}

.filter-row + *.open {
    max-height: 1000px;
    opacity: 1;
    padding: 0 10px;
}

.filter-row .fa-chevron-down {
    margin-left: auto;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.filter-row .fa-chevron-down.open {
    transform: rotate(180deg);
}
