.product-container:not(:first-child) {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  row-gap: 30px;
  margin-top: 30px;
}
.sale.product-container {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 35px; 
    overflow: hidden;
    padding-left: 15px;
    position: relative;
}
.sale-nav-btn {
    position: absolute;
    top: 30%;
    z-index: 2 ;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.fa-angle-right {
    right: 10px;
}
.fa-angle-left {
    left: 10px;
}

.sale.product-container .product-card {
    flex: 0 0 200px;
}
.product-card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
    overflow: hidden;
    /* padding: 5px; */
    position: relative;
}
.card-img {
    width: 200px;
    height: 200px;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.1); */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.card-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
    z-index: 2;
    pointer-events: none;
}
/* sale tag  */
.product-card:after {
    content: "SALE";
    position: absolute;
    top: 5px;
    right: -35px;
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    transform: rotate(45deg);
    width: 110px;
    padding: 5px 0;
    z-index: 10;
    font-size: 10px;
    display: none;
}
.card-img img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out; 
}
.card-img img:hover {
    transform: scale(1.1);
}
.product-info {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
.product-name {
    font-size: 1rem;
    text-align: justify;
    font-weight: bold;
}
.product-price {
    display: flex;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0;
    margin: -3px 0 -3px 0;
}
.discount-price {
     color: rgb(0, 0, 0);/* red */
}
.origin-price {
    margin-left: 5px;
    text-decoration: line-through;
    color: var(--primary-color)
}