main a[href^="/product"] {
    display: block;
    color: inherit;
    text-align: center;
    border: 1px solid #6F6F6F;         
    background: #fff;
    box-shadow: 
        1px 1px 0 #6F6F6F,           
        8px 8px 20px rgba(0,0,0,0.08);
}

main a[href^="/product"] img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
    display: block;
    background-color: #f5f5f5;
}

main a[href^="/product"] h3 {
    font-size: 0.938rem;
    font-weight: 500;
    margin: 0 0 0px 0;       
    padding: 0;
    line-height: 1.3;         
    color: black;
}


main a[href^="/product"] p {
    margin: 0 0 0px 0;
    font-weight: 600;
    font-size: 1rem;
    color: black;
    text-decoration: underline;
}

/* Responsive card */
@media (max-width: 768px) {
    main a[href^="/product"] img {
        height: 220px;
    }
}
