.user-page {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
}
.user-card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-bottom: 2px solid #d9d9d9;
}
.user-card p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
}
.user-sidebar-content {
    background-color: #f8f8f8;
}
.user-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 0.5px solid #d9d9d9;
}
.user-img {
    position: relative;
}
.fa-camera {
    position: absolute;
    bottom: 3px;
    right: 7px; 
    background-color: #d9d9d9;
    padding: 5px;
    border-radius: 50%;
    font-size: 0.5rem;
    cursor: pointer;
}
.user-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.user-click {
    font-weight: bold;
}
.user-sidebar i {
    margin-right: 10px;
}
