.user-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}
.user-card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-bottom: 2px solid #d9d9d9;
}
.user-card p {
    font-size: 1.3rem;
    font-weight: bold;
    color: #7d7c7c;
}
.user-sidebar-content {
    background-color: #f3f3f3;
}
.user-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0.5px solid #d9d9d9;
}
.user-img {
    position: relative;
    width: 100px;
    height: 100px;
}
.fa-camera {
    position: absolute;
    bottom: 2px;
    right: 6px; 
    background-color: #d9d9d9;
    padding: 5px;
    border-radius: 50%;
    font-size: smaller;
    cursor: pointer;
}
.user-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.user-sidebar i {
    margin-right: 10px;
}
