<div id="admin-sidebar">
    <a href="/admin/dashboard" class="sidebarItem" content="/dashboard">
        <i class="fa-solid fa-chart-line"></i>
        Dashboard
    </a>
    <a href="/admin/product-management" class="sidebarItem">
        <i class="fa-solid fa-box"></i>
        Quản lý sản phẩm
    </a>
    <a href="/admin/catalog-management" class="sidebarItem">
        <i class="fa-solid fa-tag"></i>
        Quản lý danh mục
    </a>
    <a href="/admin/order-management" class="sidebarItem">
        <i class="fa-solid fa-clipboard-list"></i>
        Quản lý đơn hàng
    </a>
    <a href="/admin/account-management" class="sidebarItem">
        <i class="fa-solid fa-user"></i>
        Quản lý tài khoản
    </a>
    <a href="/logout" class="sidebarItem" noContent="true">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Đăng xuất
    </a>
</div>