<div class="adminHeader">
    <img src="\images\VPQlogo.png" alt="VPQlogo" id="admin-logo">
    <!-- <div class="admin search-container">
        <input type="search" name="search-product" class="search-box" placeholder="Tìm kiếm chức năng...">
        <button class="search-btn"><i class="fa fa-search"></i></button>
    </div> -->
    <div class="admin-info">
        <img src="\images\fox.jpg" alt="" id="">
        <i class="fa fa-chevron-down"></i>
        <div id="admin-dropdown">
            <div id="admin-dropdown-content">
                <a href="#">Hồ sơ</a>
                <a href="/logout">Đăng xuất</a>
            </div>  
        </div>
    </div>
</div> 