<div class="breadcrumb">
    <a href="#">Trang chủ<i class="fa fa-chevron-down breadcrumbb"></i></a>
    <a href="#">Sản phẩm<i class="fa fa-chevron-down breadcrumbb"></i></a>
    <a href="#">Quần áo Nữ<i class="fa fa-chevron-down breadcrumbb"></i></a>
</div>