<div class="footer">
    <img src="\images\VPQlogo.png" alt="logo" class="footer-logo">
    <div class="footer-info">
        <H2>VỀ CHÚNG TÔI</H2>
        <p>VPQ Studio là cửa hàng thời trang cung cấp quần áo nam và nữ.
            Thương hiệu thời trang năng động, cá tính, phù hợp cho mọi giới. Phong cách tối giản - tinh tế - trẻ trung.</p>
        <p>Cam kết mang lại sản phẩm chất lượng, dịch vụ tận tâm và trải nghiệm mua sắm hiện đại.</p>
    </div>
    <div class="footer-info">
        <H2>THÔNG TIN LIÊN HỆ</H2>
        <p><i class="fa-solid fa-map-location-dot"></i>70 Tô Ký, phường Tân Chánh Hiệp, quận 12, TP. Hồ Chí Minh</p>
        <p><i class="fa-solid fa-envelope"></i>support@vpqstudio.vn</p>
        <p><i class="fa-solid fa-phone"></i>(+84) 123456789</p>
    </div>
</div>