<div class="header">
    <img src="/images/VPQlogo.jpeg" alt="VPQlogo" class="logo">
    <div class="search-container">
        <input type="search" name="search-product" class="search-box" placeholder="Tìm kiếm...">
        <button class="search-btn"><i class="fa fa-search"></i></button>
    </div>
    <a href="#" class="cart-btn">
        <i class="fa fa-shopping-cart"></i>
        <span class="cart-count">100</span>
    </a>
    <div class="user-dropdown">
        <a href="#" class="user-btn"><i class="fa fa-user"></i></a>
        <div class="user-dropdown-content">
            <a href="#">Tài khoản của tôi</a>
            <a href="#">Đơn mua</a>
            <a href="#">Đăng xuất</a>
        </div>
    </div>
    <nav class="navbar">
        <a href="" class="nav-link">TRANG CHỦ</a>
        <div class="catalog-dropdown">
            <a href="#" class="nav-link">DANH MỤC <i class="fa fa-chevron-down"></i></a>  
            <div class="catalog-dropdown-content">
                <div class="catalog-dropdown-col">
                    <a href="#" class="parent">Nữ</a>
                    <a href="#" class="child">Áo Nữ</a>
                    <a href="#" class="child">Quần Nữ</a>
                    <a href="#" class="child">Giày Nữ</a>
                </div>  
                <div class="catalog-dropdown-col">
                    <a href="#" class="parent">Nam</a>
                    <a href="#" class="child">Áo Nam</a>
                    <a href="#" class="child">Quần Nam</a>
                    <a href="#" class="child">Giày Nam</a>
                </div>  
            </div>
        </div>
        <a href="" class="nav-link">LIÊN HỆ</a>
    </nav>
</div>
