<div class="user-menu">
    <div class="user-card">
        <div class="user-img">
            <img src="/images/defaultAvt.jpg" alt="default avatar">
            <!-- <i class="fa-solid fa-camera"></i> -->
        </div>
        <p>User Name</p>
    </div>
    <div class="user-sidebar">
        <i class="fa-solid fa-list"></i>
        <a href="/user-infomation" class="sidebarItem">
            <i class="fa-solid fa-user"></i>
            <span class="hidden-text">Thông tin người dùng</span>
        </a>
        <a href="/my-order" class="sidebarItem" >
            <i class="fa-solid fa-box-archive"></i>
            <span class="hidden-text">Đơn hàng của tôi</span>
        </a>
        <a href="/change-password" class="sidebarItem">
            <i class="fa-solid fa-lock"></i>
            <span class="hidden-text">Thay đổi mật khẩu</span>
        </a>
        <a href="/logout" class="sidebarItem">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span class="hidden-text">Đăng xuất</span>
        </a>
    </div>
</div>