<div class="user-menu">
    <div class="user-card">
        <div class="user-img">
            <img src="/images/fox.jpg" alt="default avatar">
            <i class="fa-solid fa-camera"></i>
        </div>
        <p>User Name</p>
    </div>
    <div class="user-sidebar">
        <a href="/user-infomation" class="sidebarItem">
            <i class="fa-solid fa-user"></i>
            Thông tin người dùng
        </a>
        <a href="/my-order" class="sidebarItem" >
            <i class="fa-solid fa-box-archive"></i>
            Đơn hàng của tôi
        </a>
        <a href="/change-password" class="sidebarItem">
            <i class="fa-solid fa-lock"></i>
            Thay đổi mật khẩu
        </a>
        <a href="/logout" class="sidebarItem">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Đăng xuất
        </a>
    </div>
</div>