<div id="admin-page">
    <div id="admin-sidebar">
        <a href="#" class="sidebarItem" content="/dashboard">
            <i class="fa-solid fa-chart-line"></i>
            Dashboard
        </a>
        <a href="#" class="sidebarItem" content="/product-management">
            <i class="fa-solid fa-box"></i>
            Quản lý sản phẩm
        </a>
        <a href="#" class="sidebarItem" content="/catalog-management">
            <i class="fa-solid fa-tag"></i>
            Quản lý danh mục
        </a>
        <a href="#" class="sidebarItem" content="/order-management">
            <i class="fa-solid fa-clipboard-list"></i>
            Quản lý đơn hàng
        </a>
        <a href="#" class="sidebarItem" content="/account-management">
            <i class="fa-solid fa-user"></i>
            Quản lý tài khoản
        </a>
        <a href="#" class="sidebarItem" noContent="true">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Đăng xuất
        </a>
    </div>
    <div class="sidebar-content">
        <!-- load trang  -->
    </div>
</div>