<div class="dashboard">
    <div class="statistical-time">
        <p>Thống kê sơ lược</p> <!-- ngày  -->
        <div class="form-row">
            <div class="gender-box">
                <select name="gender" id="gender" class="gender-select">
                    <option value="today">Hôm nay</option>
                    <option value="yesterday">1 ngày trước</option>
                    <option value="last7days">7 ngày trước</option>
                    <option value="last30days">30 ngày trước</option>
                </select>
            </div>
        </div>
    </div>
    <div class="statistical-overview">
        <div class="overview-box">
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="overview-info">
                <p>Sản phẩm đã bán</p>
                <p>100</p>
            </div>
        </div>
        <div class="overview-box">
            <i class="fa-solid fa-box-archive"></i>
            <div class="overview-info">
                <p>Đơn hàng</p>
                <p>50</p>
            </div>
        </div>
        <div class="overview-box">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <div class="overview-info">
                <p>Doanh thu</p>
                <p>100.000.000đ</p>
            </div>
        </div>
        <div class="overview-box">
            <i class="fa-solid fa-user"></i>
            <div class="overview-info">
                <p>Người dùng mới</p>
                <p>100</p>
            </div>
        </div>
    </div>
    <div class="statistical-best-seller statistical-time">
        <p>Sản phẩm bán chạy</p>
        <div class="admin-table best-seller-table">
            <table>
                <thead>
                    <tr class="table-col">
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Đã bán</th>
                        <th>Doanh thu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Sản phẩm A </td>
                        <td>50</td>
                        <td>50.000.000đ</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Sản phẩm B</td>
                        <td>30</td>
                        <td>30.000.000đ</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sản phẩm C</td>
                        <td>20</td>
                        <td>20.000.000đ</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sản phẩm C</td>
                        <td>20</td>
                        <td>20.000.000đ</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sản phẩm C</td>
                        <td>20</td>
                        <td>20.000.000đ</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sản phẩm C</td>
                        <td>20</td>
                        <td>20.000.000đ</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sản phẩm C</td>
                        <td>20</td>
                        <td>20.000.000đ</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="statistical-best-seller statistical-time">
        <p>Sản phẩm sắp hết hàng</p>
        <div class="admin-table low-stock-table">
            <table>
                <thead>
                    <tr class="table-col">
                        <th rowspan="2">STT</th>
                        <th rowspan="2">Tên sản phẩm</th>
                        <th rowspan="2">Tổng số lượng</th>
                        <th colspan="4">Số lượng mỗi size</th>
                    </tr>
                    <tr>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2</td>
                        <td>Sản phẩm B</td>
                        <td>30</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Sản phẩm B</td>
                        <td>30</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sản phẩm C</td>
                        <td>20</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sản phẩm C</td>
                        <td>20</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sản phẩm C</td>
                        <td>20</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sản phẩm C</td>
                        <td>20</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>