<div class="dashboard">
    <div class="statistical-overview">
        <div class="overview-box">
            <div class="overview-info">
                <p>Chờ xác nhận</p>
                <p>100</p>
            </div>
        </div>
        <div class="overview-box">
            <div class="overview-info">
                <p>Chờ lấy hàng</p>
                <p>50</p>
            </div>
        </div>
        <div class="overview-box">
            <div class="overview-info">
                <p>Đang giao hàng</p>
                <p>10</p>
            </div>
        </div>
        <div class="overview-box">
            <div class="overview-info">
                <p>Đã giao</p>
                <p>100</p>
            </div>
        </div>
    </div>
    <div class="statistical-best-seller statistical-time">
        <div class="admin-table order-management-table">
            <table>
                <thead>
                    <tr class="table-col">
                        <th><input type="checkbox"></th>
                        <th>Ngày đặt</th>
                        <th>Khách hàng</th>
                        <th>Sản phẩm</th>
                        <th>Thành tiền</th>
                        <th>Thanh toán</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>20-12-2025</td>
                        <td>Ngọc Vy</td>
                        <td>Áo hoodie zip xám</td>
                        <td>200000</td>
                        <td>COD</td>
                        <td>Chờ xác nhận</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
