<div class="contact-wrapper">
        <h1>Liên hệ VPQ</h1>
        <p>
            Chúng tôi luôn sẵn sàng đồng hành và giải đáp mọi thắc mắc của bạn. 
            Liên hệ ngay để được tư vấn thời trang, hỗ trợ đổi trả và nhận ưu đãi dành riêng cho bạn!
        </p>

        <div class="contact-info">
            <h2>THÔNG TIN LIÊN HỆ</h2>
            <p><i class="fa-solid fa-map-location-dot"></i>70 Tô Ký, phường Tân Chánh Hiệp, quận 12, TP. Hồ Chí Minh</p>
            <p><i class="fa-solid fa-envelope"></i>support@vpqstudio.vn</p>
            <p><i class="fa-solid fa-phone"></i>(+84) 123456789</p>
        </div>
    </div>