<!-- Carousel -->
<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/banner1.png" alt="banner1"></div>
        <div class="swiper-slide"><img src="images/banner2.png" alt="banner2"></div>
        <div class="swiper-slide"><img src="images/banner3.png" alt="banner3"></div>
    </div>
    <!-- navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- pagination (dots) -->
    <div class="swiper-pagination"></div>
</div>

<!-- sale  -->
<div class="sale">
    <a href="#" class="promo-text">SALE UP TO 50%</a>
</div>
<div class="sale-product">
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>  
        <div class="product-info">
            <a href="#" class="product-name">Áo thun navy</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">500.000đ</p>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt1.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="#" class="product-name">Áo thun navy</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">500.000đ</p>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt2.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="#" class="product-name">Áo thun navy</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">500.000đ</p>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt3.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="#" class="product-name">Áo thun navy</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">500.000đ</p>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt4.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="#" class="product-name">Áo thun navy</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">500.000đ</p>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt3.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="#" class="product-name">Áo thun navy</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">500.000đ</p>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt5.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="#" class="product-name">Áo thun navy</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">500.000đ</p>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('.card-img').forEach((img) => {
        img.addEventListener('click', () => {
            window.location.href = '#';
        });
    });
</script>