<!-- Carousel -->
<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/banner1.png" alt="banner1"></div>
        <div class="swiper-slide"><img src="images/banner2.png" alt="banner2"></div>
        <div class="swiper-slide"><img src="images/banner3.png" alt="banner3"></div>
    </div>
    <!-- navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- pagination (dots) -->
    <div class="swiper-pagination"></div>
</div>

<!-- sale  -->
<div class="tag">
    <a href="#" class="sale-tag">SALE UP TO 50%</a>
</div>
<div class="sale-container">
    <i class="fa-solid fa-angle-left sale-nav-btn"></i>
    <div class="sale product-container">
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="/product-infomation" class="product-name">Áo</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">700.000đ</p>
                </div>
                <div class="product-review-simple">
                    <div class="product-rated">
                        <p><i class="fa-solid fa-star"></i> 4.9</p>
                    </div>
                    <div class="product-sold">
                        <p>3k+ đã bán</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt1.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="/product-infomation" class="product-name">Áo</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">700.000đ</p>
                </div>
                <div class="product-review-simple">
                    <div class="product-rated">
                        <p><i class="fa-solid fa-star"></i> 4.9</p>
                    </div>
                    <div class="product-sold">
                        <p>3k+ đã bán</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="/product-infomation" class="product-name">Áo</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">700.000đ</p>
                </div>
                <div class="product-review-simple">
                    <div class="product-rated">
                        <p><i class="fa-solid fa-star"></i> 4.9</p>
                    </div>
                    <div class="product-sold">
                        <p>3k+ đã bán</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt1.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="/product-infomation" class="product-name">Áo</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">700.000đ</p>
                </div>
                <div class="product-review-simple">
                    <div class="product-rated">
                        <p><i class="fa-solid fa-star"></i> 4.9</p>
                    </div>
                    <div class="product-sold">
                        <p>3k+ đã bán</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="/product-infomation" class="product-name">Áo</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">700.000đ</p>
                </div>
                <div class="product-review-simple">
                    <div class="product-rated">
                        <p><i class="fa-solid fa-star"></i> 4.9</p>
                    </div>
                    <div class="product-sold">
                        <p>3k+ đã bán</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt1.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="/product-infomation" class="product-name">Áo</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">700.000đ</p>
                </div>
                <div class="product-review-simple">
                    <div class="product-rated">
                        <p><i class="fa-solid fa-star"></i> 4.9</p>
                    </div>
                    <div class="product-sold">
                        <p>3k+ đã bán</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="/product-infomation" class="product-name">Áo</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">700.000đ</p>
                </div>
                <div class="product-review-simple">
                    <div class="product-rated">
                        <p><i class="fa-solid fa-star"></i> 4.9</p>
                    </div>
                    <div class="product-sold">
                        <p>3k+ đã bán</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt1.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="/product-infomation" class="product-name">Áo</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">700.000đ</p>
                </div>
                <div class="product-review-simple">
                    <div class="product-rated">
                        <p><i class="fa-solid fa-star"></i> 4.9</p>
                    </div>
                    <div class="product-sold">
                        <p>3k+ đã bán</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="/product-infomation" class="product-name">Áo</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">700.000đ</p>
                </div>
                <div class="product-review-simple">
                    <div class="product-rated">
                        <p><i class="fa-solid fa-star"></i> 4.9</p>
                    </div>
                    <div class="product-sold">
                        <p>3k+ đã bán</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt1.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="/product-infomation" class="product-name">Áo</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">700.000đ</p>
                </div>
                <div class="product-review-simple">
                    <div class="product-rated">
                        <p><i class="fa-solid fa-star"></i> 4.9</p>
                    </div>
                    <div class="product-sold">
                        <p>3k+ đã bán</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <i class="fa-solid fa-angle-right sale-nav-btn"></i>
</div>

<!-- từng danh mục cha  -->
<div class="tag-group">
    <div class="tag">
        <a href="/product-list" class="catalog-tag">QUẦN ÁO NỮ</a>
    </div>
    <div class="tag-child">
        <a href="#" class="tag-item">Áo thun</a>
        <a href="#" class="tag-item">Quần jean</a>
        <a href="#" class="tag-item">Chân váy</a>
        <a href="#" class="tag-item">Đầm</a>
        <a href="#" class="tag-item">Áo khoác</a>
    </div>
</div>
<div class="product-container">
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt1.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt1.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt1.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt1.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt1.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt1.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tag-group">
    <div class="tag">
        <a href="#" class="catalog-tag">QUẦN ÁO NAM</a>
    </div>
    <div class="tag-child">
        <a href="#" class="tag-item">Áo thun</a>
        <a href="#" class="tag-item">Quần jean</a>
        <a href="#" class="tag-item">Áo khoác</a>
    </div>
</div>
<div class="product-container">
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt1.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt1.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt1.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt1.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt1.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt1.png" alt="shirt">
        </div>
        <div class="product-info">
            <a href="/product-infomation" class="product-name">Áo</a>
            <div class="product-price">
                <p class="discount-price">500.000đ</p>
                <p class="origin-price">700.000đ</p>
            </div>
            <div class="product-review-simple">
                <div class="product-rated">
                    <p><i class="fa-solid fa-star"></i> 4.9</p>
                </div>
                <div class="product-sold">
                    <p>3k+ đã bán</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.card-img').forEach((img) => {
        img.addEventListener('click', () => {
            window.location.href = '#';
        });
    });
    
    //lướt mục sản phẩm giảm giá
    (() => {
        const container = document.querySelector('.sale.product-container');
        const btnLeft = document.querySelector('.fa-angle-left');
        const btnRight = document.querySelector('.fa-angle-right');

        if (!container || !btnLeft || !btnRight) return;

        const getCardWidth = () => {
            const card = container.querySelector('.product-card');
            return card ? card.offsetWidth + 30 : 200;
        };

        const scroll = (distance) => {
            container.scrollBy({ left: distance, behavior: 'smooth' });
        };

        btnRight.addEventListener('click', () => scroll(getCardWidth()));
        btnLeft.addEventListener('click', () => scroll(-getCardWidth()));
    })();

</script>