<div class="my-order">
    <div class="order-item">
        <div class="order-status">
            <p>Trạng thái:</p>
            <p>Đã đặt hàng</p>
        </div>
        <div class="order-products">
            <div class="order-product">
                <img src="images/shirt1.png" alt="Ảnh sản phẩm">
                <div class="order-product-info">
                    <p class="order-product-name">OWL - ÁO thun navy</p>
                    <p class="order-product-size">XL</p>
                    <div class="price-row">
                        <p>x2</p>
                        <p>45.000đ</p>
                    </div>
                </div>
            </div>
            <div class="order-product">
                <img src="images/shirt1.png" alt="Ảnh sản phẩm">
                <div class="order-product-info">
                    <p class="order-product-name">OWL - ÁO thun navy</p>
                    <p class="order-product-size">XL</p>
                    <div class="price-row">
                        <p>x2</p>
                        <p>45.000đ</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="show-all-btn">Xem thêm...</button>
        <div class="order-total-price">
            <p>Tổng: <b> 90.000đ</b></p>
        </div>
    </div>
</div>
<div class="my-order">
    <div class="order-item">
        <div class="order-status">
            <p>Trạng thái:</p>
            <p>Đã đặt hàng</p>
        </div>
        <div class="order-products">
            <div class="order-product">
                <img src="images/shirt1.png" alt="Ảnh sản phẩm">
                <div class="order-product-info">
                    <p class="order-product-name">OWL - ÁO thun navy</p>
                    <p class="order-product-size">XL</p>
                    <div class="price-row">
                        <p>x2</p>
                        <p>45.000đ</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="show-all-btn">Xem thêm...</button>
        <div class="order-total-price">
            <p>Tổng: <b> 90.000đ</b></p>
        </div>
    </div>
</div>
<div class="my-order">
    <div class="order-item">
        <div class="order-status">
            <p>Trạng thái:</p>
            <p>Đã đặt hàng</p>
        </div>
        <div class="order-products">
            <div class="order-product">
                <img src="images/shirt1.png" alt="Ảnh sản phẩm">
                <div class="order-product-info">
                    <p class="order-product-name">OWL - ÁO thun navy</p>
                    <p class="order-product-size">XL</p>
                    <div class="price-row">
                        <p>x2</p>
                        <p>45.000đ</p>
                    </div>
                </div>
            </div>
            <div class="order-product">
                <img src="images/shirt1.png" alt="Ảnh sản phẩm">
                <div class="order-product-info">
                    <p class="order-product-name">OWL - ÁO thun navy</p>
                    <p class="order-product-size">XL</p>
                    <div class="price-row">
                        <p>x2</p>
                        <p>45.000đ</p>
                    </div>
                </div>
            </div>
            <div class="order-product">
                <img src="images/shirt1.png" alt="Ảnh sản phẩm">
                <div class="order-product-info">
                    <p class="order-product-name">OWL - ÁO thun navy</p>
                    <p class="order-product-size">XL</p>
                    <div class="price-row">
                        <p>x2</p>
                        <p>45.000đ</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="show-all-btn">Xem thêm...</button>
        <div class="order-total-price">
            <p>Tổng: <b> 90.000đ</b></p>
        </div>
    </div>
</div>
