<div class="product-list-tag">
    <a href="#">DANH MỤC SẢN PHẨM</a>
</div>
<div class="product-page">
    <div class="filter">
        <div id="filter-tag">
            <h2>Bộ lọc</h2>
            <i class="fa-solid fa-filter"></i>
        </div>
        <div class="filter-row">
            <p class="filter-title">Danh mục sản phẩm</p>
            <hr>
            <i class="fa fa-chevron-down"></i>
        </div>
        <div class="product-category-filter">
            <ul class="category-list">
                <li>Sản phẩm mới</li>
                <li>Sản phẩm khuyến mãi</li>
                <li class="filter-catalog filter-row">
                    Quần áo nữ
                    <i class="fa fa-chevron-down catalog-list-btn"></i>
                </li>
                <ul class="catalog-list">
                    <li>Quần short</li>
                    <li>Áo thun</li>
                    <li>Áo khoác</li>
                    <li>Chân váy</li>
                </ul>
                <li class="filter-catalog filter-row">
                    Quần áo nam
                    <i class="fa fa-chevron-down catalog-list-btn"></i>
                </li>
                <ul class="catalog-list">
                    <li>Quần short</li>
                    <li>Áo thun</li>
                    <li>Áo khoác</li>
                    <li>Quần jean</li>
                </ul>

            </ul>
        </div>

        <div class="filter-row">
            <p class="filter-title">Khoảng giá</p>
            <hr>
            <i class="fa fa-chevron-down"></i>
        </div>
        <div class="price-range">
            <label class="price-option"><input type="checkbox" name="price" id="" value="">0 - 200.000</label>
            <label class="price-option"><input type="checkbox" name="price" id="" value="">200.000 - 500.000</label>
            <label class="price-option"><input type="checkbox" name="price" id="" value="">500.000 - 1.000.000</label>
            <label class="price-option"><input type="checkbox" name="price" id="" value="">> 1.000.000</label>
        </div>
        <!-- <div class="filter-row">
            <p class="filter-title">Màu sắc</p>
            <hr>
            <i class="fa fa-chevron-down"></i>
        </div> -->
        <div class="filter-row">
            <p class="filter-title">Kích thước</p>
            <hr>
            <i class="fa fa-chevron-down"></i>
        </div>
        <div class="size-options">
            <label class="size-option price-option"><input type="checkbox" name="size" id="" value="">S</label>
            <label class="size-option price-option"><input type="checkbox" name="size" id="" value="">M</label>
            <label class="size-option price-option"><input type="checkbox" name="size" id="" value="">L</label>
            <label class="size-option price-option"><input type="checkbox" name="size" id="" value="">XL</label>
        </div>
    </div>
    <div class="product-list">
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="card-img">
                <img src="/images/shirt.png" alt="shirt">
            </div>
            <div class="product-info">
                <a href="#" class="product-name">Áo thun navy</a>
                <div class="product-price">
                    <p class="discount-price">500.000đ</p>
                    <p class="origin-price">500.000đ</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".filter-row").forEach(row => {
            if (!content) return;
            const content = row.nextElementSibling;
            const arrow = row.querySelector(".fa-chevron-down");

            content.classList.add("open");
            arrow.classList.add("open");

            row.addEventListener("click", () => {
                content.classList.toggle("open");
                arrow.classList.toggle("open");
            });
        });
    });
</script>