<div class ="return-policy">
    <h1 id="h1-tittle">HƯỚNG DẪN ĐỔI TRẢ HÀNG</h1>
    <p class="intro">Chính sách đổi trả hàng của VPQ bao gồm những mục dưới đây:</p>

    <div class="section">
        <h2>1. Khách hàng có vấn đề về sản phẩm</h2>
        <p>Nếu sản phẩm của bạn gặp một trong các trường hợp sau đây, hãy liên hệ ngay với chúng tôi để được đổi trả:</p>
        <ul class="dot-list">
            <li>Sản phẩm bị lỗi, hỏng hoặc có dấu hiệu sản xuất sai sót</li>
            <li>Giao sai mẫu, sai màu, sai size hoặc thiếu sản phẩm</li>
            <li>Sản phẩm không đúng mô tả trên website</li>
            <li>Cán đội size vì không vừa</li>
        </ul>
    </div>
    <hr class="divider">

    <div class="section">
        <h2>2. Điều kiện để đơn hàng được đổi trả</h2>
        <p>Để đảm bảo sản phẩm có thể đổi trả thành công, vui lòng lưu ý:</p>
        <ul class="dot-list">
            <li>Sản phẩm còn nguyên tag, tem, nhãn mác</li>
            <li>Sản phẩm chưa qua giặt, chưa sử dụng</li>
            <li>Không có mùi lạ, không bị bẩn hoặc hư hỏng do tác động bên ngoài</li>
            <li>Bao bì & phụ kiện đi kèm còn đầy đủ</li>
            <li><strong>Yêu cầu đổi trả trong vòng 7 ngày</strong> kể từ khi nhận hàng</li>
        </ul>
    </div>
    <hr class="divider">

    <div class="section">
        <h2>3. Liên hệ đổi trả hàng</h2>
        <p>Khách hàng có thể liên hệ qua:</p>
        <div class="contact-info">
            <p><i class="fa-solid fa-envelope"></i>support@vpqstudio.vn</p>
            <p><i class="fa-solid fa-phone"></i>(+84) 123456789</p>
        </div>
    </div>
</div>