<main class="search-result-page">
    <div class="search-header-bar">
      <div class="search-result-header">
        <h1 class="search-result-title">
          Kết quả tìm kiếm cho "<span class="search-keyword"></span>"
        </h1>
        <p class="search-result-count">6 sản phẩm</p>
      </div>

      <div class="sort-form">
        <select class="sort-select">
          <option value="" disabled selected hidden>Sắp xếp theo</option>
          <option value="newest">Mới nhất</option>
          <option value="price-asc">Giá tăng dần</option>
          <option value="price-desc">Giá giảm dần</option>
        </select>
      </div>
    </div>

    <div class="search-product-list">
        <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>  
        <div class="product-info">
            <a href="#" class="product-name">Áo thun navy</a>
            <p class="regular-price">500.000đ</p>
        </div>
        </div>

        <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>  
        <div class="product-info">
            <a href="#" class="product-name">Áo thun navy</a>
            <p class="regular-price">500.000đ</p>
        </div>
        </div>

        <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>  
        <div class="product-info">
            <a href="#" class="product-name">Áo thun navy</a>
            <p class="regular-price">500.000đ</p>
        </div>
        </div>

        <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>  
        <div class="product-info">
            <a href="#" class="product-name">Áo thun navy</a>
            <p class="regular-price">500.000đ</p>
        </div>
        </div>

        <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>  
        <div class="product-info">
            <a href="#" class="product-name">Áo thun navy</a>
            <p class="regular-price">500.000đ</p>
        </div>
        </div>

        <div class="product-card">
        <div class="card-img">
            <img src="/images/shirt.png" alt="shirt">
        </div>  
        <div class="product-info">
            <a href="#" class="product-name">Áo thun navy</a>
            <p class="regular-price">500.000đ</p>
        </div>
        </div>
    </div>
    <!--Nút xem thêm-->
    <div class="load-more-container">
    <button class="load-more-btn">Xem thêm</button>
    </div>
</main>