<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VPQ Studio - Đăng ký</title>
    <link rel="icon" type="image/png" href="\images\VPQlogo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="css/signin.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <div class="logsign-container">
        <div class="logsign-box">

            <h2>Đăng ký</h2>

            <form action="/signin" method="POST">
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" name="fullname" placeholder="Họ và tên" required>
                </div>

                <div class="input-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email" placeholder="Email" required>
                </div>

                <div class="password-row">
                    <div class="input-group">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" id="pass1" placeholder="Mật khẩu" required>
                        <span class="toggle-password" onclick="togglePass('pass1', this)">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>

                    <div class="input-group">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="confirmPassword" id="pass2" placeholder="Xác nhận mật khẩu" required>
                        <span class="toggle-password" onclick="togglePass('pass2', this)">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>

                <button type="submit" class="signin-btn">Tạo tài khoản</button>

                <div class="or-register">
                    hoặc <a href="/login">Đăng nhập</a>
                </div>
            </form>         
        </div>
    </div>
<script src="/js/common.js"></script>
</body>
</html>