<div class = "size-page">
    <h2>HƯỚNG DẪN CHỌN SIZE PHÙ HỢP</h2>
    
    <h3>Bảng size dành cho nữ</h3>
    <div class="image-women">
        <img src="/images/size-nu.png" alt="Bảng size nữ">
    </div>

    <h3>Bảng size dành cho nam</h3>
    <div class="image-men">
        <img src="/images/size-nam.png" alt="Bảng size nam">
    </div>
</div>