<div class="user-page">
    <div class="user-menu">
        <div class="user-card">
            <div class="user-img">
                <img src="/images/fox.jpg" alt="default avatar">
                <i class="fa-solid fa-camera"></i>
            </div>
            <p>User Name</p>
        </div>
        <div class="user-sidebar">
            <a href="#" class="sidebarItem" content="/user-infomation">
                <i class="fa-solid fa-user"></i>
                Thông tin người dùng
            </a>
            <a href="#" class="sidebarItem" content="/my-order">
                <i class="fa-solid fa-box-archive"></i>
                Đơn hàng của tôi
            </a>
            <a href="#" class="sidebarItem" content="/change-password">
                <i class="fa-solid fa-lock"></i>
                Thay đổi mật khẩu
            </a>
            <a href="#" class="sidebarItem" noContent="true">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Đăng xuất
            </a>
        </div>
    </div>
    <div class="sidebar-content">
        <!-- load trang  -->
    </div>
</div>
<script src="/js/loadPage.js"></script>
<script src="/js/common.js"></script>