<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="\images\VPQlogo.png">
    <title>
        <%= title %>
    </title>
    <!-- css     -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/userPage.css">
    <link rel="stylesheet" href="/css/userHeader.css">
    <link rel="stylesheet" href="/css/adminHeader.css">
    <link rel="stylesheet" href="/css/adminPage.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/myOrderDetail.css">
    <link rel="stylesheet" href="/css/userInfo.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/productManage.css">
    <link rel="stylesheet" href="/css/notification.css">
    <link rel="stylesheet" href="/css/account.css">
    <link rel="stylesheet" href="/css/catalogManagement.css">
    <link rel="stylesheet" href="/css/orderDetail.css">
    <link rel="stylesheet" href="/css/myOrderDetail.css">
    <link rel="stylesheet" href="/css/orderManage.css">
</head>

<body>
    <%- include("../partials/adminHeader" ) %>
    <main>
        <div id="admin-page">
            <%- include("../partials/adminSidebar") %>
            <div class="sidebar-content">
                <%- body %>
            </div>
        </div>
    </main>
</body>

</html>
    <script src="/js/addProduct.js"></script>
    <script src="/js/menuClick.js"></script>
    <script src="/js/notification.js"></script>
    <script src="/js/catalogManagement.js"></script>
    <script src="/js/deleteProduct.js"></script>
</html>